.listItem {
  max-width: 350px;
  display: flex;
  flex-flow: column wrap;
  margin-left: auto;
  margin-right: auto;
}

.status {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 30px;
}

.item {
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 10px;
}

.item:not(:last-child) {
  margin-bottom: 30px;
}
