.listItem {
  width: 305px;
  margin: 40px auto 0 auto;
}

.status {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 30px;
}

.item {
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(246, 246, 246);
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 6px 3px 3px gray;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.text {
  font-size: 32px;
  color: #000000;
}

.image {
  display: block;
  margin-right: 30px;
}
