.transactionHistory {
  margin: 40px auto 0 auto;
  width: 705px;
}

.head {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  margin-right: 20px;
  border-collapse: collapse;
  color: #686461;
}

th {
  font-weight: 400;
  color: #ffffff;
  padding: 10px 15px;
  background-color: #669;
  text-align: left;
}
td {
  color: #669;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}

tr:nth-child(2n) {
  background: #e8edff;
}
